:root {
  --form-width: 50vw;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  width: 100vw;
  overflow: overlay;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}

::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(35, 175, 173);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 139, 138);
}

@supports (scrollbar-color: black white) {
  * {
    scrollbar-color: rgb(35, 175, 173) rgba(255, 255, 255, 0);
  }
}
.container {
  margin: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.logo {
  color: black;
  font-weight: bold;
}
.logo span {
  color: rgb(35, 175, 173);
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background-color: rgb(235, 235, 235);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.active-menu {
  color: rgb(35, 175, 173);
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0);
}

.contact-container {
  height: 89vh;
  width: 100%;
  border: 0 !important;
  outline: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}
.contact-container .contact-box {
  width: 100%;
  display: grid;
  grid-template-columns: 5vw var(--form-width) calc(100vw - var(--form-width) - 5vw);
  justify-content: center;
  align-items: center;
}
.contact-container .left-box {
  height: 100%;
  background: rgb(94, 94, 94);
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  transform-origin: top left;
  -webkit-animation: showForm 1.5s ease-out forwards;
          animation: showForm 1.5s ease-out forwards;
}
.contact-container .right {
  background: url(../img/1.jpg) no-repeat center;
  height: 100%;
  background-size: cover;
}
.contact-container .left {
  padding: 0 6vw;
  margin: 0;
}
.contact-container .left .field {
  box-sizing: border-box;
  outline: none;
  margin-inline: auto;
  margin-bottom: 2em;
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgb(197, 197, 197);
  transition: all 0.5s ease;
}
.contact-container .left .field:hover {
  background-color: rgb(190, 190, 190);
}
.contact-container .left .field:focus {
  background-color: rgb(220, 220, 220);
  box-shadow: inset 0px 0px 3px 0px rgb(66, 68, 90);
}
.contact-container .left textarea {
  min-height: 15vh;
  resize: none;
}
.contact-container .left h2 {
  position: relative;
  padding-bottom: 10px;
  margin-top: 0;
}
.contact-container .left h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 4px;
  background-color: rgb(35, 175, 173);
  border-radius: 2px;
}
.contact-container .left button {
  margin-top: -10px;
  padding: 0.5rem 1rem;
  width: 30%;
  background-color: rgb(35, 175, 173);
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease-out;
}
.contact-container .left button:hover {
  background-color: rgb(34, 151, 149);
}
.contact-container .bottom {
  width: 100vw;
  height: 5vh;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(43, 43, 43);
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
}

footer {
  max-width: calc(100vw - 3em);
  background: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  padding: 10vh;
  justify-content: center;
  color: white;
  line-height: 2.5em;
  position: relative;
  border: 0 !important;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer img {
  max-width: 60px;
}
footer .logo {
  color: white;
}
footer .logo span {
  color: rgb(35, 175, 173);
}

@media only screen and (min-width: 680px) {
  .container {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    margin-right: -2em;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: black;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }

  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero .arrow {
    bottom: 1em;
    height: 20vh;
    margin-top: 3em;
    stroke: black;
    position: unset;
  }
  section.hero .arrow path {
    fill: black;
  }

  .footer-pageTop {
    height: 3vh !important;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 1.5em auto;
  }

  nav {
    margin: 0;
  }
}
@media only screen and (max-width: 920px) {
  .contact-container {
    height: 100vh;
  }
  .contact-container .contact-box {
    grid-template-areas: "leftblock left right";
    grid-auto-flow: column !important;
    grid-template-columns: 1fr 0 !important;
  }
  .contact-container .right {
    grid-area: leftblock;
    margin-inline: auto;
    height: 200px !important;
    width: 88vw;
  }
  .contact-container .left {
    grid-row: 2;
  }
  .contact-container .left h2 {
    margin-top: 20px;
  }
  .contact-container .left-box {
    display: none;
  }
}
@-webkit-keyframes showForm {
  0% {
    transform: scaleX(11);
  }
  30% {
    transform: scaleX(11);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes showForm {
  0% {
    transform: scaleX(11);
  }
  30% {
    transform: scaleX(11);
  }
  100% {
    transform: scaleX(1);
  }
}/*# sourceMappingURL=contact.css.map */