@charset "UTF-8";
html {
  width: 100vw;
  overflow: overlay;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(35, 175, 173);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 139, 138);
}

@supports (scrollbar-color: black white) {
  * {
    scrollbar-color: rgb(35, 175, 173) rgba(255, 255, 255, 0);
  }
}
.container {
  margin: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: intro 2s forwards;
          animation: intro 2s forwards;
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background-color: rgb(235, 235, 235);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

.active-menu {
  color: rgb(35, 175, 173);
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin-top: 2.5em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: white;
  height: 80vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
section.hero .arrow {
  stroke: white;
  position: absolute;
  bottom: 8em;
  height: 10vh;
  animation: arrowAnim 1s alternate-reverse infinite;
}
section.hero .arrow path {
  fill: white;
}

.more {
  margin-top: 2em;
}
.more img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15em;
}
.more .text {
  font-weight: bold;
  font-size: 1.25rem;
}
.more .desc {
  line-height: 1.5rem;
}

.more-row {
  opacity: 0;
  transition: all 1s;
  transform: translateY(30%) scale(1);
}

.open-nav {
  transform: translateX(0);
}

footer {
  height: 30vh;
  max-width: calc(100vw - 3em);
  background: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  padding: 25vh 10vw 10vh;
  justify-content: center;
  color: white;
  line-height: 2.5em;
  position: relative;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer img {
  width: 3em;
}
footer .logo {
  color: white;
}
footer .logo span {
  color: rgb(35, 175, 173);
}
footer .footer-pageTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  padding: 3vw 0;
  background: rgb(74, 74, 74);
  position: absolute;
  vertical-align: top;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease;
}
footer .footer-pageTop:hover {
  background: rgb(92, 92, 92);
}
footer .footer-pageTop:hover .arrowTop:before {
  transform: rotate(90deg) translateX(-4%);
}
footer .footer-pageTop .arrowTop::before {
  font-size: 3rem;
  text-decoration: none;
  display: block;
  width: 10vh;
  content: "❮";
  transform: rotate(90deg) translateX(0);
  transition: all 0.5s ease;
}

.slideIn {
  opacity: 1 !important;
  transform: translateY(0%) scale(1);
}

.slideNew {
  -webkit-animation: showNew 1s ease-in-out forwards;
          animation: showNew 1s ease-in-out forwards;
}

.new-model {
  color: white;
  margin: 12em 0 8em 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-position: 50% 50%;
}
.new-model .new-head {
  background: url(../img/6.jpg);
  text-align: center;
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
}
.new-model h1 {
  margin: 0;
}
.new-model .new-models {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.new-model .new-image {
  color: black;
  background: rgba(245, 245, 245, 0.599);
  display: flex;
  border-radius: 9px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 2em auto;
  justify-content: center;
  width: 90%;
  z-index: 1;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.138);
  transition: all 0.5s;
  transform: translateY(-10%);
  padding: 0;
}
.new-model .new-image img {
  margin-top: 0;
  width: 100%;
  min-height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-model .new-image .new-dsc {
  padding: 3em;
  height: 55%;
}
.new-model .new-image .new-dsc .desc {
  display: none;
}
.new-model .new-image .new-dsc .close-button {
  display: none;
}
.new-model .new-image h2 {
  margin: 0.5em 0;
}
.new-model .new-image p {
  margin: 0;
}
.new-model .new-image button {
  margin-top: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(28, 139, 138);
  color: white;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
.new-model .new-image button:hover {
  box-shadow: 3px 3px 16px 0px rgba(5, 5, 5, 0.305);
}
.new-model .new-image:hover {
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.147);
  transform: translateY(-10%) scale(1.05);
}

.best .new-dsc {
  margin: 0 auto;
}
.best .new-head {
  background: url(../img/2.jpg);
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 100%);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.best p {
  font-size: 1.6rem;
}
.best h2 {
  margin-top: 0 !important;
  font-size: 1.7rem;
}
.best .sold {
  font-weight: bold;
  margin-top: 0.5em;
}
.best .rate {
  width: 100%;
}
.best button {
  margin-top: 0.5em !important;
}
.best .rate::after {
  margin: 0 auto;
  display: block;
  color: gold;
  content: attr(cont);
  text-shadow: 0 0 2px #000;
  font-size: 2rem;
  width: 100%;
  overflow: hidden;
}

.see-more {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.673);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: black;
  transition: opacity 1s ease-in-out;
  -webkit-animation: showDsc 1s ease-in-out;
          animation: showDsc 1s ease-in-out;
  opacity: 0;
}
.see-more .more-content {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start !important;
  align-items: center;
  background: rgba(225, 225, 225, 0.908);
}
.see-more .more-content img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.see-more .more-content .new-dsc {
  padding: 5%;
  justify-self: start;
  margin: 0;
  position: relative;
}
.see-more .more-content .new-dsc h2 {
  font-size: 2rem;
}
.see-more .more-content .new-dsc p {
  font-size: 1.5rem;
}
.see-more .more-content .new-dsc button {
  margin-top: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(28, 139, 138);
  color: white;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
.see-more .more-content .new-dsc .desc {
  display: block;
}
.see-more .more-content .new-dsc .close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
.see-more .more-content .new-dsc .close-button::before {
  content: url('data:image/svg+xml;utf8,<svg class="close-content" height="3em" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 0.25C13.2861 0.25 10.1443 1.20305 7.47199 2.98862C4.79969 4.77419 2.71689 7.31209 1.48697 10.2814C0.257041 13.2507 -0.0647633 16.518 0.562247 19.6702C1.18926 22.8224 2.73692 25.7179 5.00952 27.9905C7.28213 30.2631 10.1776 31.8108 13.3298 32.4378C16.482 33.0648 19.7493 32.743 22.7186 31.513C25.6879 30.2831 28.2258 28.2003 30.0114 25.528C31.797 22.8557 32.75 19.7139 32.75 16.5C32.75 14.366 32.3297 12.2529 31.5131 10.2814C30.6964 8.30985 29.4994 6.51847 27.9905 5.00952C26.4815 3.50056 24.6902 2.3036 22.7186 1.48696C20.7471 0.670319 18.634 0.25 16.5 0.25V0.25ZM20.9038 18.5963C21.0561 18.7473 21.177 18.927 21.2595 19.1251C21.342 19.3231 21.3844 19.5355 21.3844 19.75C21.3844 19.9645 21.342 20.1769 21.2595 20.3749C21.177 20.573 21.0561 20.7527 20.9038 20.9038C20.7527 21.0561 20.573 21.177 20.3749 21.2594C20.1769 21.3419 19.9645 21.3844 19.75 21.3844C19.5355 21.3844 19.3231 21.3419 19.1251 21.2594C18.9271 21.177 18.7473 21.0561 18.5963 20.9038L16.5 18.7913L14.4038 20.9038C14.2527 21.0561 14.073 21.177 13.8749 21.2594C13.6769 21.3419 13.4645 21.3844 13.25 21.3844C13.0355 21.3844 12.8231 21.3419 12.6251 21.2594C12.427 21.177 12.2473 21.0561 12.0963 20.9038C11.9439 20.7527 11.8231 20.573 11.7406 20.3749C11.6581 20.1769 11.6156 19.9645 11.6156 19.75C11.6156 19.5355 11.6581 19.3231 11.7406 19.1251C11.8231 18.927 11.9439 18.7473 12.0963 18.5963L14.2088 16.5L12.0963 14.4038C11.7903 14.0978 11.6184 13.6827 11.6184 13.25C11.6184 12.8173 11.7903 12.4022 12.0963 12.0963C12.4023 11.7903 12.8173 11.6184 13.25 11.6184C13.6827 11.6184 14.0978 11.7903 14.4038 12.0963L16.5 14.2088L18.5963 12.0963C18.9023 11.7903 19.3173 11.6184 19.75 11.6184C20.1827 11.6184 20.5978 11.7903 20.9038 12.0963C21.2098 12.4022 21.3817 12.8173 21.3817 13.25C21.3817 13.6827 21.2098 14.0978 20.9038 14.4038L18.7913 16.5L20.9038 18.5963Z" fill="black"/></svg> ');
}

.show-element {
  opacity: 1;
}

@media only screen and (min-width: 680px) {
  .container {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }

  .new-image {
    width: 70% !important;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    margin-right: -2em;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }

  .logo {
    color: black;
  }
  .logo span {
    color: rgb(35, 175, 173);
  }

  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero .arrow {
    bottom: 1em;
    height: 20vh;
    margin-top: 3em;
    stroke: black;
    position: unset;
  }
  section.hero .arrow path {
    fill: black;
  }

  .more-row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 3em;
    margin-bottom: 6em;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    width: 90%;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 100%);
    box-shadow: 10px 10px 40px 0px rgb(220, 220, 220);
  }
  .more-row img {
    max-width: 100%;
    width: 24em;
  }
  .more-row .title {
    max-width: 100%;
    text-align: right;
    width: 24em;
  }

  .more-row.flip {
    grid-template-areas: "left right";
    background-image: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(255, 255, 255) 100%);
    box-shadow: -10px 10px 40px 0px rgb(222, 222, 222);
  }
  .more-row.flip img {
    grid-area: left;
  }
  .more-row.flip .title {
    text-align: left;
    width: 25em;
    justify-self: left;
  }

  .new-image {
    width: 30% !important;
  }

  .new-model h1 {
    font-size: 5rem;
  }

  .new-models {
    flex-direction: row !important;
  }

  .footer-pageTop {
    height: 3vh !important;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 1.5em auto;
  }

  .new-models {
    width: 1100px;
    margin: 1.5em auto;
  }

  .more {
    width: 100%;
  }

  .more-row {
    margin: 0 auto 6em auto;
    gap: 0;
  }

  nav {
    margin: 0;
  }
}
@-webkit-keyframes intro {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
            clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@keyframes intro {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    -webkit-clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
            clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@-webkit-keyframes arrowAnim {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes arrowAnim {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes showNew {
  from {
    width: 0%;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}
@keyframes showNew {
  from {
    width: 0%;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}
@-webkit-keyframes showDsc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showDsc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */