html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.container{
    margin: 1.5em;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
}

img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: intro 2s forwards;
}

.logo{
    color: white;
    font-weight: bold;
}

nav{
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a{
            color:black;
            padding: .75em 2em;
            display: block;
            &:hover{
                background-color: rgb(235,235,235);
            }
        }
       
    }
    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

.active-menu{
   color:rgb(35, 175, 173);
}

header{
    display: flex;
    justify-content: space-between;

    svg{
        width: 3em;
        margin-top: -0.6em;
        cursor: pointer;
    }
}

h1{
    font-size: 3rem;
    margin-top: 2.5em;
    line-height: 3.3rem;
}

.subhead{
    font-size: 1.4rem;
}

section.hero{
    color: white;
    height: 80vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .arrow{
        stroke: white;
        position: absolute;
        bottom: 8em;
        //width: 1em;
        height: 10vh;
        animation: arrowAnim 1s alternate-reverse infinite;
        path{
            fill: white;
        }
    }
}

.more{
    margin-top: 2em;
    img{
        width: 100%;
        object-fit: cover;
        height: 15em;
    }

    .text{
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc{
        line-height: 1.5rem;
    }
}

.more-row{
    opacity: 0;
    transition: all 1s;
    transform: translateY(+30%) scale(1);
}

.open-nav{
    transform: translateX(0);
}

footer{
    //margin: 5em -3em -10em -3em;
    height: 15em;
    max-width: calc(100vw - 3em);
    background: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    color: white;
    line-height: 2.5em;

    p{
        margin: 0;
    }

    a{
        text-decoration: none;
        color: white;
    }

    img{
        width: 3em;
    }

    .logo{
        color: white;

        span{
            color: rgb(35, 175, 173);
        }
    }
}

.slideIn{
    opacity: 1 !important;
    transform: translateY(0%) scale(1);
}

.slideNew{
    animation: showNew 1s ease-in-out forwards;
}

.new-model{
    color: white;
    margin: 12em 0 8em 0;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-position: 50% 50%;
    //clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
    //clip-path: polygon(0 6%, 100% 0%, 100% 45%, 0 53%);

    .new-head{
        background: url(../img/6.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 60vh;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    }

    h1{
        margin: 0;
        font-size: 5rem;
    }

    .new-models{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .new-image{
        color: black;
        background: rgba(230, 230, 230, 0.9);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 2em auto;
        justify-content: center;
        width: 90%;
        //padding: 3em;
        z-index: 1;
        box-shadow: 0px 0px 12px 0px rgba(95, 95, 95, 1);
        transition: all 0.5s,;
        transform: translateY(-10%);
        
        img{
            max-width: 100%;
            height: 45%;
            object-fit: cover;
        }
        .new-dsc{
            padding: 2em;
        }
        h2{
            margin: 0.5em 0;
        }
        p{
            margin: 0;
        }

        button{
            margin-top: 1.5em;
            padding: 1em 2em;
            border: none;
            border-radius: 0.5em;
            background-color: rgb(28, 139, 138);
            color: white;
            transition: box-shadow 0.5s;
            cursor: pointer;
            &:hover{
                box-shadow: 0px 0px 12px 0px rgba(95, 95, 95, 1);
            }
        }

        &:hover{
            box-shadow: 0px 5px 24px 0px rgb(95, 95, 95);
            transform: translateY(-10%) scale(1.01);
        }
    }
}


@media only screen and (min-width: 680px){
    .container{
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }
    .new-image{
        width: 70% !important;
    }
    // footer{
    //     margin: 5em -5em -5em -5em;
    // }
}

@media only screen and (min-width: 920px){
    .menu{
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin-right: -2em;

        svg.close{
            display: none;
        }

        ul{
            display: flex;
            margin: 0;

            a{
                color: white;
                padding: .5em 1.5em;
                font-size: 0.9rem;

                &:hover{
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .hero-img{
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo{
        color: black;

        span{
            color: rgb(35, 175, 173);
        }
    }

    section.hero{
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 8em;

        .arrow{
            bottom: 1em;
            height: 20vh;
            margin-top: 3em;
            stroke: black;
            position: unset;
            path{
                fill: black;
            }
        }
    }

    .more-row{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 3em;
        margin-bottom: 6em;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em;
        width: 90%;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(240, 240, 240) 100%);
        box-shadow: 5px 0px 16px 0px rgb(160, 162, 183);

        img{
            max-width: 100%;
            width: 24em;  
        }

        .title{
            max-width: 100%;
            text-align: right;
            width: 24em;
        }
    }

    .more-row.flip{
        grid-template-areas: "left right";
        background-image: linear-gradient(90deg, rgb(240, 240, 240) 0%,  rgba(255, 255, 255, 1) 100%);
        box-shadow: 0px 5px 16px 0px rgb(160, 162, 183);
        img{
            grid-area: left;
        }

        .title{
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }
    .new-image{
        width: 30% !important;
    }
    .new-models{
        flex-direction: row !important;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1100px;
        margin: 1.5em auto;

    }
    .new-models{
        width: 1100px;
        margin: 1.5em auto;
    }
    .more{
        width: 100%;   
    }
    .more-row{
         margin: 0 auto 6em auto;
        gap: 0;
     }
     nav{
        margin: 0;
     }

}

@keyframes intro{
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    25%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    50%{
        clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    // from{
    //     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    // }
    // to{
    //     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // }

}

@keyframes arrowAnim{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0);
    }

}

@keyframes moveDown{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes showNew{
    from{
        width: 0%;
    }
    to{
        width: 30%;
        opacity: 1;
    }
}